@import "tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@config "../tailwind.config.js";
